body {
  background-color: #0a0f1c;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #7f8fa6;
  transition: color 0.3s ease;

}

.menu-item .line {
  width: 20px;
  height: 2px;
  background-color: #7f8fa6;
  margin-right: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.menu-item:hover .line {
  width: 40px;
  background-color: #ffffff;
}

.menu-item:hover .text {
  color: #ffffff;
}
