:root{
    --cor-iluminacao: #ea9f2d;
    --cor-fonte: #f0e6ef;
    --cor-background-variacao: #172a45;
    --cor-fonte-variacao: #3066be;
    --cor-background: #0a192f;
}
*{
    color: var(--cor-fonte);
    font-family: 'Roboto Serif', serif;
}

body{
    background-color: var(--cor-background);
    
}

nav {
    background-color: var(--cor-background-variacao);
    padding: 0.5rem;
    text-align: center;
    width: auto;

}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ol li {
    display: inline-flex;

}

nav ol li a {
    color: var(--cor-fonte);
    text-decoration: none;
    padding: 7px 5rem;
    font-family: 'Roboto Serif', serif;
    font-family: 'Roboto Serif', serif;
    font-size: 2rem;

}

nav ol li a:hover {
    background-color: var(--cor-iluminacao);
}

#apresentacao{
    background-color: var(--cor-background);
    text-align: center;
}

#apresentacao h1{
    font-family: 'Roboto Serif', serif;
    font-size: 120px;
    padding: 0;
    margin-top: 15rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#apresentacao h2{
    font-family: 'Roboto Serif', serif;
    font-size: 35px;
    margin: 0px;
}

#apresentacao p{
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    margin: 0;
}

footer{
    background-color: var(--cor-background-variacao);
    padding: 0.5rem ;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    margin-top: 19.5rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;

}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: var(--cor-b);
    text-decoration: none;   
}

#instagram{  
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    
}

#twitter{
    background-color: #00acee;
}

#behance{
    background-color: #053eff;
}

#linkedin{
    background-color: #0e76a8;
}
