:root{
    --cor-iluminacao: #ea9f2d;
    --cor-fonte: #f0e6ef;
    --cor-background-variacao: #172a45;
    --cor-fonte-variacao: #3066be;
    --cor-background: #0a192f;
}
*{
    color: var(--cor-fonte);
    font-family: 'Roboto Serif', serif;
}

body{
    background-color: var(--cor-background);
    
}

nav {
    background-color: var(--cor-background-variacao);
    padding: 0.5rem;
    text-align: center;
    width: auto;

}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ol li {
    display: inline-flex;

}

nav ol li a {
    color: var(--cor-fonte);
    text-decoration: none;
    padding: 1rem 5rem;
    font-family: 'Roboto Serif', serif;
    font-family: 'Roboto Serif', serif;
    font-size: 2rem;

}

nav ol li a:hover {
    background-color: var(--cor-iluminacao);
}

header{
    text-align: center;
    font-size: 2rem;
    color: var(--cor-fonte);
}

h1{
    color: var(--cor-background-variacao);
}

form {
    max-width: 37.5rem;
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--cor-fonte);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
  }

  form header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;

  }

  input,
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 2rem;
    border-radius: 3rem;
    border: 1px solid var(--cor-iluminacao);
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  button[type="submit"] {
    background-color: var(--cor-background);
    color: var(--cor-fonte);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: var(--cor-iluminacao);
  }

footer{
    background-color: var(--cor-background-variacao);
    padding: 0.5rem ;
    width: auto;
    text-align: center;
}

#footer_social_media{
    display: flex;
    gap: 2rem;

}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: var(--cor-b);
    text-decoration: none;   
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    
}

#twitter{
    background-color: #00acee;
}

#behance{
    background-color: #053eff;
}

#linkedin{
    background-color: #0e76a8;
}